.search-form-container {
  text-align: left;
}

.forecast {
  font-size: 1.4rem;
}

.forecast-stat {
  font-size: 1.2rem;
}

.stat-container {
  font-size: 1.15rem;
}

.location {
  font-size: 3rem;
  font-weight: 600;
}

.temp {
  font-size: 2.8rem;
  font-weight: 600;
}

.weather-description {
  font-weight: 600;
  font-size: 1.2rem;
  vertical-align: middle;
}

.low-temp, .high-temp {
  font-size: 1.2rem;
}

.forecast-heading {
  font-size: 2rem;
}

.sign-in-btn {
  border-color: white;
  color: white;
  background-color: transparent;
  border-radius: 2px;
}

.dropdown-toggle, .dropdown-item {
  background-color: transparent !important;
  color: white !important;
  border: none !important;
}

.dropdown-menu {
  background-color: rgb(96, 43, 255) !important;
  border: none!important;
  margin-left: 15px;
}

.weather-description-img, .rain-img {
  width: 40px !important;
  height: 40px !important;
  object-fit: contain !important;
}